/* For super thin phones */ 
@media only screen and (max-width: 300px) {

}

/* For Laptop Screens */
@media only screen and (max-width: 1000px) {
    #register .img-wrapper, #login .img-wrapper {
        display: none;
    }
}


/* For Small Desktop Screens */
@media only screen and (max-width: 1200px) {
    #register .img-wrapper, #login .img-wrapper {
        flex: 1;
    }
}


/* For Large Desktop Screens */
@media only screen and (min-width: 1450px) {
    body {
        padding-bottom: 2em;
    }
    #body {
        max-width: 1450px;
    }
    nav {
        padding: 0 8em;
    }
}

